QUEUE=__QUEUE__
NODETYPE=__NODETYPE__
RESOURCE_HANDLING=__RESOURCE_HANDLING__
ACCOUNT=__ACCOUNT__
PPN=__PPN__
TIME_LIMIT=__TIME_LIMIT__
TARGET_BIN="./nemo"
JOB_NAME="NEMO_test_job"
INIT_COMMANDS=__INIT_COMMANDS__
INJOB_INIT_COMMANDS=__INJOB_INIT_COMMANDS__
AFTER=./nemo-postproc.sh
MPIEXEC=__MPI_SCRIPT__
BATCH=__BATCH_SCRIPT__

