QUEUE=__QUEUE__
QUEUE_SUFFIX=__QUEUE_SUFFIX__
NODETYPE=__NODETYPE__
TIME_LIMIT=1
TARGET_BIN=./xamg_test_nv1
INIT_COMMANDS=__INIT_COMMANDS__
INJOB_INIT_COMMANDS='__INJOB_INIT_COMMANDS__'
MPIEXEC=__MPI_SCRIPT__
BATCH=__BATCH_SCRIPT__


